
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root{
    --DarkCyan: hsl(185, 75%, 39%);
    --VeryDarkDesaturateBlue: hsl(229, 23%, 23%);
    --DarkGrayishBlue: hsl(227, 10%, 46%);
    --DarkGray: hsl(0, 0%, 59%);
}


body{
    padding: 0;
    margin: 0;
    background-color: var(--DarkCyan);
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    background: url(./images/bg-pattern-top.svg);
}

.card-container{
    margin: 170px auto 50px;
    width: 330px;
    height: 380px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.bubbles{
    background: url(./images/bg-pattern-card.svg);
    height: 140px;
}

.photo{
    position: absolute;
    top: 87px;
    left: 35%;
    border: 5px solid white;
    border-radius: 50%;
    overflow: hidden;
    height: 96px;
}

.personal-data-container{
    background-color: white;
    height: 150px;
    padding: 75px;
    box-sizing: border-box;
    text-align: center;
}

.age, .city{
    color: var(--VeryDarkDesaturateBlue);
}
.name{
    font-weight: 700;
    color: var(--DarkGray);
}

.city{
    margin-top: 10px;
    font-size: 0.8em;
}

.stats-container{
    background-color: white;
    border-top: 1px solid var(--DarkGray);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
}

.statistics{
    text-align: center;
}

.quantity{
    font-weight: 700;
    margin-bottom: 10px;
    color: var(--VeryDarkDesaturateBlue);
}

.units{
    font-size: 0.6em;
    color: var(--DarkGray);
    letter-spacing: 2px;
}


.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }